<div class="container">
  <h1>Lean Coffee</h1>

  <dl class="row">
    <dt class="col-sm-3"><%= link_to "Create a meeting", new_meetings_meeting_path %></dt>
    <dd class="col-sm-9">Create a new Lean Coffee Meeting</dd>
    <dt class="col-sm-3 text-truncate"><%= link_to "Domain Schema", domain_schema_path %></dt>
    <dd class="col-sm-9">The Lean Coffee Domain as YAML</dd>
  </dl>
</div>