<div class="container">
  <h2><%= @domain_object.class %></h2>
  
  <pre>
    <div style='white-space: pre-wrap;'>
<%= JSON.pretty_generate @domain_object.as_json %>
    </div>
  </pre>

  <%= link_to "Add a participant", new_meetings_participant_path(meeting_id: @domain_object.id) %>
</div>